:root{
    --bootstrap-color:#7411f7;
    --javascript-color:#f7df1d;
    --html-color:#e44b21;
    --css-color:#264de4;
    --react-color:#00dcfe;
    --chromeextension-color:#289947;
    --servlets-color:#dd2327;
    --jsp-color:black;
    --sql-color:#2596be;
    --jdbc-color:#dd2327;
}

.project-image{
    width: 100%;
    height: 50vh;
}
.project-thumbnail{
    width:80%;
    height: 400px;
    position: relative;
}


.project-thumbnail::after{
    content: "VIEW";
    font-size: 2rem;
    color:wheat;
    /* background-image: conic-gradient(#009dffd7,#ec2f4be0,#009dffdc); */
    background-color: #264ce4ab;
    color:black;
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 300ms all;
}
.project-thumbnail:hover::after{
    transform: scale(1);
}

.project-filter .nav-link{
    display: inline-block;
    font-size: 2rem;
    min-width: 10rem;
}
.project-filter .nav-link.active-tab{
    color:white;
    /* background-image: linear-gradient( 111deg,#009dffd7,#ec2f4be0,#009dffdc); */
    background-color: #264ce4ab;
}



@media (min-width:991px){
    .project-thumbnail{
        width:300px;
        height: 300px;
    }
}