/* scroll bar */
body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* Navigation bar styles start */
.navbar {
  position: fixed !important;
  z-index: 10;
  width: 100%;
    backdrop-filter:blur(5px);
    background-image: rgba(255, 255, 255, 0.082);
  }
[data-bs-theme="light"] .navbar{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
[data-bs-theme="dark"] .navbar{
    box-shadow: 0 2px 5px rgba(187, 186, 186, 0.479);
}

  .navbar .nav-link {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 15px;
    transition: color 0.3s ease-in-out;
    text-align: center;
    text-transform: uppercase;
  }
  
  .navbar .nav-link:hover {
    color: #007bff;
  }
  
  /* Active link styling */
  .navbar .nav-link.active {
    border-bottom: 2px solid #007bff;
    &::before{
        visibility: hidden !important;
    }
  }
  
  /* Customize the theme switcher */
  #theme-label {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    transform: translateX(-40%);
  }

  
.navbar .nav-link {
    position: relative;
  }
  
  .navbar .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%);
    background-color: #007bff;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar .nav-link:hover::before {
    visibility: visible;
    width: 100%;
  }

  

@media (max-width: 768px) {
    .navbar {
      padding: 15px;
    }
    
    .navbar-brand {
      font-size: 1.2rem;
    }
  
    .navbar .nav-link {
      font-size: 1rem;
      padding: 8px;
    }
    .theme-switch {
      margin-top: .7rem !important;
    }
    
  }
/* Navigation bar styles end */


/* highlight div */

.highlight-div {
  position: fixed;
  width: 5vw;
  height: 5vw;
  /* background-color: rgba(255, 255, 255, 0.5); */
  backdrop-filter: invert(200%);
  /* filter: blur(50px); */
  pointer-events: none;
  border-radius: 50%;
  z-index: 5 !important;
  transform: translateX(-50%) translateY(-50% );
}


/* Hero Page */
.hero{
  /* height: 90%; */
  /* width: 30%; */
}

#hero-page .greet{
  /* background-image: linear-gradient(to right,#662D8C , #ED1E79); */
  background-image: linear-gradient(to right,#009fff,#ec2f4b);
  color: transparent;
  background-clip: text;
}

@media (max-width: 768px) {
  .hero{
    height: 100%;
    width:100%;
  }
}

/* animated border */

.hero-img {
  aspect-ratio: 3 / 3;
  border: 10px solid #0000;
  background: linear-gradient(#131219, #131219) padding-box, linear-gradient(
        var(--angle),
        #009fff,
        #ec2f4b
      ) border-box;
  animation: 8s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}





.delete-this{
  height: 200vh;
}


/* font size */
